<div class="mt-8 card">
    <p-toolbar styleClass="min-w-20 mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Add New" icon="pi pi-plus" class="p-button-rounded mr-2"></button>
        </ng-template>
    </p-toolbar>

    <div class="flex flex-wrap align-items-center justify-content-center">
        <p-table styleClass="p-datatable-striped" [tableStyle]="{'min-width': '80rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>Code Industry</th>
                    <th>Name Industry</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
                <tr>
                    <td>{{data.code}}</td>
                    <td>{{data.expired}}</td>
                    <td>{{data.amount}}</td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>