<div class="m-3">
    <div>
        <app-text-button label="Kembali" routerLink="/course"></app-text-button>
    </div>
    <div>
        <p-card header="{{getByCourseId?.courseName}}" subheader="{{getByCourseId?.categoryId}}"
            [style]="{width : '860px'}" styleClass="p-card-shadow"
            class=" card-body p-4 flex align-items-center justify-content-center">

            <img alt="Card" src="http://192.168.10.73:8080/files/{{getByCourseId?.file}}"
                style="width: 100%; height: 100%;">

            <div>
                <div class=" grid mt-1">
                    <span>Penyelenggara : {{getByCourseId?.provider}}</span>
                </div>
                <div class=" grid mt-1">
                    <span>Trainer : {{getByCourseId?.trainer}}</span>
                </div>
                <div class=" grid mt-1">
                    <span>Tanggal Mulai : {{getByCourseId?.startDate}}</span>
                </div>
                <div class=" grid mt-1">
                    <span>Tanggal Selesai : {{getByCourseId?.endDate}}</span>
                </div>
                <div class=" grid mt-1">
                    <span>Harga : Rp.{{getByCourseId?.price}}</span>
                </div>
                <div class=" grid mt-1">
                    <span>Lokasi : {{getByCourseId?.locationName}}</span>
                </div>
            </div>
            <ng-template pTemplate="footer" let-data>
                <!-- <app-action-button label="Beli Event" link="/event/buy-event"></app-action-button> -->
                <app-routing-button *ngIf="userId!=getByCourseId?.userId" label="Beli Event" icon="pi pi-plus"
                    class="p-button-rounded mr-2" link="/course/buy-course/{{getByCourseId?.id}}">
                </app-routing-button>


                <button *ngIf="userId==getByCourseId?.userId" pButton pRipple type="button" icon="pi pi-trash"
                    class="ml-3 p-button-rounded p-button-danger" (click)="deleteCourse(data)"></button>
            </ng-template>
        </p-card>
    </div>
</div>