<div class="ml-5 mr-5 card">
    <h2>TRANSACTION APPROVAL</h2>
    <p-tabView class="mt-8">
        <p-tabPanel header="Course">
            <pre>
                {{ resCourseTransaction | json }}
            </pre>
            <div class="mt-4 card">
                <div class="flex flex-wrap align-items-center justify-content-center">
                    <p-table styleClass="p-datatable-striped" [value]="resCourseTransaction"
                        [tableStyle]="{'min-width': '80rem'}">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>No</th>
                                <th>Member Name</th>
                                <th>Course</th>
                                <th>Grand Total</th>
                                <th>Files</th>
                                <th>Status Transaction</th>
                                <th>Approved</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-i="rowIndex">
                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{item.fullName}}</td>
                                <td>{{item.itemName}}</td>
                                <td>{{item.grandTotal}}</td>
                                <td><a href="http://192.168.10.73:8080/files/{{item.fileId}}" target="_blank"><button
                                            pButton pRipple type="button" label="Bukti Pembayaran"
                                            class="p-button-outlined p-button-rounded p-button-success"></button></a>
                                </td>
                                <td>{{item.statusTransaction}}</td>
                                <td *ngIf="item.statusTransaction=='Pending'">
                                    <button pButton pRipple type="submit" icon="pi pi-check"
                                        class="p-button-rounded p-button-success mx-2"
                                        (click)="onApprove(item.id)"></button>
                                    <button pButton pRipple type="submit" icon="pi pi-times"
                                        class="p-button-rounded p-button-danger" (click)="onRejected(item.id)"></button>
                                </td>
                                <td *ngIf="item.statusTransaction!='Pending'">
                                    <span>-</span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Event">
            <pre>
                {{ resEventTransaction | json }}
            </pre>
            <div class="mt-4 card">
                <div class="flex flex-wrap align-items-center justify-content-center">
                    <p-table styleClass="p-datatable-striped" [value]="resEventTransaction"
                        [tableStyle]="{'min-width': '80rem'}">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>No</th>
                                <th>Member Name</th>
                                <th>Event</th>
                                <th>Grand Total</th>
                                <th>Status Transaction</th>
                                <th>Files</th>
                                <th>Approved</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-i="rowIndex">
                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{item.fullName}}</td>
                                <td>{{item.itemName}}</td>
                                <td>{{item.grandTotal}}</td>
                                <td>{{item.statusTransaction}}</td>
                                <td><a href="http://192.168.10.73:8080/files/{{item.fileId}}" target="_blank"><button
                                            pButton pRipple type="button" label="Bukti Pembayaran"
                                            class="p-button-outlined p-button-rounded p-button-success"></button></a>
                                </td>
                                <td *ngIf="item.statusTransaction=='Pending'">
                                    <button pButton pRipple type="submit" icon="pi pi-check"
                                        class="p-button-rounded p-button-success mx-2"
                                        (click)="onApprove(item.id)"></button>
                                    <button pButton pRipple type="submit" icon="pi pi-times"
                                        class="p-button-rounded p-button-danger" (click)="onRejected(item.id)"></button>
                                </td>
                                <td *ngIf="item.statusTransaction!='Pending'">
                                    <span>-</span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Membership">
            <pre>
                {{ resMembershipTransaction | json }}
            </pre>
            <div class="mt-4 card">
                <div class="flex flex-wrap align-items-center justify-content-center">
                    <p-table styleClass="p-datatable-striped" [value]="resMembershipTransaction"
                        [tableStyle]="{'min-width': '80rem'}">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>No</th>
                                <th>Member Name</th>
                                <th>Membership</th>
                                <th>Transaction date</th>
                                <th>Status Transaction</th>
                                <th>Files</th>
                                <th>Approved</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-i="rowIndex">
                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{item.fullName}}</td>
                                <td>{{item.itemName}}</td>
                                <td>{{item.grandTotal}}</td>
                                <td>{{item.statusTransaction}}</td>
                                <td><a href="http://192.168.10.73:8080/files/{{item.fileId}}" target="_blank"><button
                                            pButton pRipple type="button" label="Bukti Pembayaran"
                                            class="p-button-outlined p-button-rounded p-button-success"></button></a>
                                </td>
                                <td *ngIf="item.statusTransaction=='Pending'">
                                    <button pButton pRipple type="submit" icon="pi pi-check"
                                        class="p-button-rounded p-button-success mx-2"
                                        (click)="onApprove(item.id)"></button>
                                    <button pButton pRipple type="submit" icon="pi pi-times"
                                        class="p-button-rounded p-button-danger" (click)="onRejected(item.id)"></button>
                                </td>
                                <td *ngIf="item.statusTransaction!='Pending'">
                                    <span>-</span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>