<div class="flex justify-content-end">
    <div class="absolute top-0 right-0 bg-blue-400 w-25rem h-full">
        <div class="relative">
            <h2 class="text-center text-white">WELCOME</h2>
        </div>
    </div>
</div>

<div class="flex justify-content-center mr-8">
    <p-card class="mt-8 mr-8 absolute left-25 flex flex-wrap align-items-center">
        <div class="flex justify-content-center">
            <h2>SIGN UP</h2>
        </div>
        <div class="flex justify-content-center">
            <h4>To Access The Portal</h4>
        </div>
        <span class="mt-5 p-float-label w-25rem">
        <input class="w-25rem border-round m-2" id="email" type="text" pInputText > 
        <label  for="float-input">Enter your email</label>
    </span>
        <span class="mt-1 p-float-label w-25rem">
        <input class="w-25rem border-round m-2" id="pass" type="password" pInputText> 
        <label for="float-input">Enter your password</label>
    </span>
        <app-routing-button clasz="mt-2 w-27rem p-button-rounded bg-blue-400" label="Register"></app-routing-button>
    </p-card>
</div>