<div class="card">
    <p-card class="mt-8 flex flex-wrap align-items-center justify-content-center ">

        <div class="grid">
            <div class="col-5 flex align-items-center justify-content-center">
                <div class="pl-5 p-fluid">
                    <div class="pt-2 align-items-center justify-content-center">
                        <h3>LOGIN</h3>
                    </div>
                    <div class="pt-4 field">
                        <label for="username">Username</label>
                        <input pInputText id="username" type="text" />
                    </div>
                    <div class="field">
                        <label for="password">Password</label>
                        <input pInputText id="password" type="password" />
                    </div>
                    <app-routing-button clasz="w-27rem p-button-rounded bg-blue-400" label="Login"></app-routing-button>
                    <app-routing-button clasz="mt-2 w-27rem p-button-rounded bg-blue-400" label="SIGN U"></app-routing-button>
                    <p class="mt-1 underline text-center">Forget password</p>
                </div>
            </div>

            <div class="col-2">
                <p-divider layout="vertical">
                    <b></b>
                </p-divider>
            </div>
            <div class="col-5 flex align-items-center justify-content-center">
                <div class="w-27rem">
                    <p-image src="../../../assets/img/undraw_Welcoming_re_x0qo.png" alt="Image" width="350"></p-image>
                </div>
            </div>
        </div>
    </p-card>
</div>