<!-- <pre>{{data.value | json}}</pre> -->
<div class="grid align-item-center justify-content-center my-auto">
    <p-card class="grid grid-nogutter justify-content-center">
        <div class="grid m-0 p-0 w-auto">
            <div class="grid m-0 p-0 lg:col align-items-center justify-content-center">
                <div>
                    <p-image src="../../../assets/img/undraw_Welcoming_re_x0qo.png" alt="Image" width="250"></p-image>
                </div>
            </div>
            <div class="hidden md:block col-1 lg:block col-1">
                <p-divider layout="vertical"></p-divider>
            </div>
            <div class="grid lg:col align-items-center justify-content-center">
                <form [formGroup]="data" (ngSubmit)="onLogin()">
                    <div class="pl-5 p-fluid">
                        <div class="pt-2 align-items-center justify-content-center">
                            <h3>Login</h3>
                        </div>
                        <div class="pt-4 field">
                            <label for="email">Email</label>
                            <input formControlName="email" pInputText id="email" type="email" />
                        </div>
                        <div class="field">
                            <label for="password">Password</label>
                            <p-password formControlName="passwordUser" [toggleMask]="true" [feedback]="false">
                            </p-password>
                        </div>
                        <app-submit-button clasz="w-auto p-button-rounded bg-blue-400 mx-1" label="Login"
                            [disabled]="!data.valid"></app-submit-button>
                        <app-routing-button clasz="w-auto p-button-rounded bg-blue-400 mx-1" label="Register"
                            link="/register-member"></app-routing-button>
                    </div>
                </form>
            </div>
        </div>
    </p-card>
</div>