<pre>
    {{resArticle | json}}
</pre>
<div class="grid m-0">
    <div class="col-4">
        <div class="flex justify-content-start">
        </div>
        <div class="align-item-center w-7 ml-8">
            <p-card class="align-items-center flex-wrap" styleClass="p-card-shadow">
                <p-avatar class="flex align-items-center justify-content-center" icon="pi pi-user" styleClass="mr-2" size="xlarge" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"></p-avatar>
                <h3>fullName</h3>
                <span>position</span>
                <p-divider></p-divider>
                <h4>Profil</h4>
                <div class="my-2">
                    <span>Email</span>
                    <p>email@mail.com</p>
                </div>
                <div class="my-2">
                    <span>No. Telp</span>
                    <p>phoneNumber</p>
                </div>
                <p-divider></p-divider>
                <div class="align-item-center">
                    <app-routing-button label="Create Article" link="/article/add"></app-routing-button>
                </div>
            </p-card>
        </div>
    </div>
    <div class="col-8">
        <div class="justify-content-start">
            <!-- <h3>Aktivitas Saya</h3> -->
        </div>

        <p-card *ngFor="let d of resArticle" class="mx-4">
            <h4>{{d.articleTitle}}</h4>
            <div>
                <p>{{d.createdAt}}</p>
            </div>
            <div class=" grid">
                <div class="col-3 flex justify-content-start">
                    <img src="http://192.168.10.73:8080/files/{{d.photoId}}" width="150" height="150" alt="">
                </div>
                <div class="col-9">
                    <div class="col-9 flex align-items-center justify-content-center w-full">
                        <p>{{d.articleContent}}</p>
                    </div>
                    <div class="col-9 flex justify-content-start w-full">
                        <a href="" routerLink="/article/detail/{{d.id}}">Detail</a>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <p>penulis : {{d.createdBy}}</p>
            </div>
        </p-card>
    </div>
</div>