<div class="mt-8 card">
    <p-toolbar styleClass="min-w-20 mb-4 gap-2">
        <ng-template pTemplate="left">
            <app-routing-button label="Add New" icon="pi pi-plus" class="p-button-rounded mr-2" link="/voucher/add">
            </app-routing-button>
            <!-- <button pButton pRipple label="Add New" icon="pi pi-plus" class="p-button-rounded mr-2"></button> -->
        </ng-template>
    </p-toolbar>

    <div class="flex flex-wrap align-items-center justify-content-center">
        <p-table styleClass="p-datatable-striped" (onLazyLoad)="loadData($event)" [value]="resVoucher"
            responsiveLayout="scroll" [tableStyle]="{'min-width': '80rem'}" [paginator]="true"
            [totalRecords]="totalData" [rows]="limit" [rowsPerPageOptions]="[5,10,15,20]">
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>Code Voucher</th>
                    <th>Expired Date</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex">
                <tr>
                    <td>{{i + 1}}</td>
                    <td>{{data.voucherCode}}</td>
                    <td>{{data.expiredDate | date}}</td>
                    <td>{{data.amount}}</td>
                    <td>
                        <button pButton pRipple type="button" icon="pi pi-file-edit"
                            class="p-button-rounded p-button-success" routerLink="edit/{{data.id}}"></button>
                        <button pButton pRipple type="button" icon="pi pi-trash"
                            class="ml-3 p-button-rounded p-button-danger" (click)="deleteVoucher(data)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>