<div class="bg-cyan-500">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <h4>COMMUNITY</h4>
            <p-image alt="Logo" src="../../../assets/img/wecommunity.png" width="50"></p-image>

        </ng-template>
        <ng-template pTemplate="end">
            <p-avatar image="http://192.168.10.124:8080/files/{{profileFileId}}" styleClass="mr-2" size="xlarge" shape="circle" (click)="menu.toggle($event)"></p-avatar>
            <p-tieredMenu #menu [model]="itemsEnd" [popup]="true"></p-tieredMenu>
        </ng-template>
    </p-menubar>
</div>
<router-outlet></router-outlet>