<pre>
    {{data.value | json}}
</pre>


<div class="block col-12 my-2 md:flex flex-wrap align-items-center justify-content-center">
    <div class="mt-2">
        <app-text-button label="Kembali" routerLink="../../"></app-text-button>
        <p-card class=" card-body p-4 flex align-items-center justify-content-center"
            [style]=" {width: '500px' , height:'100%'}" styleClass="p-card-shadow">
            <div class="flex flex-wrap align-items-center justify-content-center">
                <div class="mb-2">
                    <h2>BUY EVENT</h2>
                </div>
            </div>
            <div>
                <div class="grid">
                    <div class="col">
                        <h4>Detail Item</h4>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-3">
                        <span>Event</span>
                    </div>
                    <div class="col-1">
                        <span>:</span>
                    </div>
                    <div class="col">
                        <span>{{getByEventId?.eventName}}</span>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-3">
                        <span>Jadwal</span>
                    </div>
                    <div class="col-1">
                        <span>:</span>
                    </div>
                    <div class="col">
                        <span>{{getByEventId?.startDate | date : 'E, d MMM YYYY'}} - {{getByEventId?.endDate | date : 'E, d MMM YYYY'}}</span>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-3">
                        <span>Harga</span>
                    </div>
                    <div class="col-1">
                        <span>:</span>
                    </div>
                    <div class="col">
                        <span>{{getByEventId?.price | currency:'Rp. ':'symbol':'3.0'}}</span>
                    </div>
                </div>
            </div>


            <p-divider></p-divider>
            <form [formGroup]="data" (ngSubmit)="buyEvent()">
                <div class="field grid">
                    <label for="voucherCode" class="col-4">Code Voucher</label>
                    <div class="col">
                        <input id="voucherCode" formControlName="voucherCode" type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                    </div>
                </div>
                <div class="mt-4">
                    <div class="field grid">
                        <label for="formFileMultiple" class="col-4 form-label">Bukti Pembayaran</label>
                        <p-fileUpload class="col" mode="basic" name="demo[]" (onSelect)="fileUpload($event)"
                            chooseLabel="Pilih File">
                        </p-fileUpload>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="col-6">
                        <app-submit-button label="Buy" clasz="p-button-rounded mr-2"></app-submit-button>
                    </div>
                </div>
            </form>
        </p-card>
    </div>
</div>