<pre>{{data.value | json}}</pre>
<pre>{{post | json}}</pre>
<div class="grid grid-nogutter my-3">
    <div *ngIf="profile" class="hidden lg:block col-3 px-3">
        <div class="justify-content-start">
            <h3><i class="pi pi-user"></i> Profil Saya</h3>
        </div>
        <div class="align-item-center">
            <p-card class="align-items-center flex-wrap" styleClass="p-card-shadow">
                <p-avatar class="grid align-items-center justify-content-center" styleClass="mr-2" size="xlarge"
                    shape="circle" image="http://192.168.10.124:8080/files/{{profile.file}}"
                    [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"></p-avatar>
                <h3 class="grid my-1 align-items-center justify-content-center">{{profile.fullName}}</h3>
                <span class="grid my-1 align-items-center justify-content-center">{{profile.industryId}}</span>
                <span class="grid my-1 align-items-center justify-content-center">{{profile.positionId}} at
                    {{profile.company}}</span>
                <p-divider></p-divider>
                <h4>Profil</h4>
                <div class="mx-2 p-0">
                    <div class="mb-2">
                        <span class="grid mb-1"><i class="pi pi-envelope mr-1"></i>Email</span>
                        <p class="grid">{{profile.email}}</p>
                    </div>
                    <div class="mb-2">
                        <span class="grid mb-1"><i class="pi pi-mobile mr-1"></i>No. Telp</span>
                        <p class="grid">{{profile.phoneNumber}}</p>
                    </div>
                    <div *ngIf="!profile.premiumUntil" class="mb-2">
                        <div class="grid">
                            <button pButton class="p-button-primary p-button-text m-0 p-0"
                                (click)="navigate('/memberships')"><i class="pi pi-lock"></i>Aktifkan Premium</button>
                        </div>
                    </div>
                </div>
                <p-divider></p-divider>
                <div class="align-item-center">
                    <app-routing-button label="Edit Profil" link="/profile/{{profile.id}}"></app-routing-button>
                </div>
            </p-card>
        </div>
    </div>
    <div *ngIf="!profile" class="hidden lg:block col-3 px-3">
        <div class="flex justify-content-start">
            <h3><i class="pi pi-user"></i> Profil Saya</h3>
        </div>
        <div class="align-item-center">
            <p-card class="align-items-center flex-wrap" styleClass="p-card-shadow">
                <p-skeleton size="5rem" styleClass="mb-2"></p-skeleton>
                <p-skeleton height="2rem" styleClass="mb-4"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-divider></p-divider>
                <h4>Profil</h4>
                <div class="my-2">
                    <span>Email</span>
                    <p-skeleton styleClass="mb-2"></p-skeleton>
                </div>
                <div class="my-2">
                    <span>No. Telp</span>
                    <p-skeleton styleClass="mb-2"></p-skeleton>
                </div>
                <p-divider></p-divider>
                <div class="align-item-center">
                    <button pButton [disabled]="true" class="p-button-primary">Edit Profil</button>
                </div>

            </p-card>
        </div>
    </div>
    <div class="col lg:px-3">
        <div class="justify-content-start">
            <h3><i class="pi pi-home"></i> Bookmark Post Saya</h3>
        </div>

        <div infinite-scroll (scrolled)="onScroll()">
            <div *ngFor="let p of post; let i = index" class="col-12 block align-items-center flex-wrap p-0">
                <p-card class="grid block col-12 m-0 mt-2 p-0">
                    <div class="grid  align-items-center mx-2">
                        <div class="grid align-items-center col-1 mr-2 p-0">
                            <p-avatar image="http://192.168.10.124:8080/files/{{p.userFileId}}" styleClass="mr-2"
                                size="xlarge" shape="circle"></p-avatar>
                        </div>
                        <div class="block align-items-center col-7 p-0">
                            <div class="grid">
                                <h4 class="col">{{p.fullName}}</h4>
                            </div>
                            <div class="grid">
                                <span class="col">{{p.postedAt | date}}</span>
                            </div>
                        </div>
                        <div class="grid align-items-end col-3">
                            <app-category-button label="{{p.categoryName}}"></app-category-button>
                        </div>
                        <div class="grid align-items-end col-1">
                            <app-icon-button icon="pi pi-chevron-down" clasz="p-button-text p-button-secondary"
                                (click)="menu.toggle($event)"></app-icon-button>
                            <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
                        </div>
                    </div>
                    <div class="grid mx-2">
                        <div class="my-2">
                            <h3>{{p.postTitle}}</h3>

                            <span style="white-space: pre-line;">{{p.postContent}}</span>
                        </div>
                    </div>
                    <div class="grid mx-2">
                        <div *ngIf="p.fileId">
                            <img class="m-1" style="width: 250px;" *ngFor="let img of p.fileId; let j = index"
                                src="http://192.168.10.124:8080/files/{{img}}" alt="img">
                        </div>
                        <div *ngIf="p.pollingChoice">
                            <div *ngIf="!p.isAnswered">
                                <div *ngFor="let c of p.pollingChoice; let j = index">
                                    <app-text-button label="{{c.choiceContent}}"
                                        (click)="onInsertPollingAnswer(c.pollingChoiceId, i)"></app-text-button>
                                </div>
                            </div>
                            <div *ngIf="p.isAnswered">
                                <div class="mb-2">

                                </div>
                                <app-text-button label="Undo" (click)="onRemovePollingAnswer(p.isAnswered.id, i)">
                                </app-text-button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="p.likeCount > 0" class="grid m-2">
                        <span>{{p.likeCount}} likes</span>
                    </div>
                    <div class="m-0 p-0">
                        <p-divider></p-divider>
                        <div class="grid">
                            <app-text-icon-button *ngIf="!p.isLiked" icon="pi pi-heart"
                                clasz="p-button-text p-button-secondary" label="Suka" (click)="onLike(p.id, i)">
                            </app-text-icon-button>
                            <app-text-icon-button *ngIf="p.isLiked" clasz="p-button-text p-button-danger"
                                icon="pi pi-heart-fill" label="Suka" (click)="onDislike(p.isLiked.id, i)">
                            </app-text-icon-button>
                            <p-divider layout="vertical"></p-divider>
                            <app-text-icon-button icon="pi pi-comments" clasz="p-button-text p-button-secondary"
                                label="Komentar({{p.detailCount}})" (click)="onShowAddDetail(i)"></app-text-icon-button>
                            <p-divider layout="vertical"></p-divider>
                            <app-text-icon-button *ngIf="!p.isBookmarked" icon="pi pi-bookmark"
                                clasz="p-button-text p-button-secondary" label="Bookmark" (click)="onBookmark(p.id, i)">
                            </app-text-icon-button>
                            <app-text-icon-button *ngIf="p.isBookmarked" icon="pi pi-bookmark-fill"
                                clasz="p-button-text p-button-primary" label="Bookmark"
                                (click)="onRemoveBookmark(p.isBookmarked.id, i)"></app-text-icon-button>
                        </div>
                        <p-divider></p-divider>
                    </div>
                    <div *ngIf="p.showComment">
                        <div class="grid">
                            <input pInputText type="text" placeholder="Tulis komentar"
                                class="col-12 mx-1 mb-2 p-inputtext-sm">
                        </div>
                        <div class="grid mt-1">
                            <div class="mx-1">
                                <app-text-button label="Post" (click)="onInsertPostDetail(i)"></app-text-button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="p.detailCount > 3">
                        <button pButton type="button" class="p-button-text">Lebih banyak komentar (detailCount)</button>
                    </div>
                    <div *ngIf="p.showComment">
                        <div *ngFor="let d of p.postDetail" class="flex">
                            <div class="col-1 grid align-items-center justify-content-center m-0 p-0">
                                <p-avatar image="http://192.168.10.124:8080/files/{{d.userFileId}}" size="large"
                                    shape="circle"></p-avatar>
                            </div>
                            <div class="col-11">
                                <h5 class="grid align-items-start m-0">{{d.fullName}}</h5>
                                <span class="grid align-items-end m-0">{{d.detailContent}}</span>
                            </div>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
    <p-scrollTop target="window"></p-scrollTop>
</div>