<div class="flex flex-wrap align-items-center justify-content-center">
    <div class="mt-6">
        <h2>CREATE CATEGORY</h2>
    </div>
</div>

<div class="flex flex-wrap align-items-center justify-content-center">
    <div class="mt-8">
        <div class="field grid">
            <label for="firstname3" class="col-fixed" style="width:200px">Category Name</label>
            <div class="col">
                <input id="firstname3" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
            </div>
        </div>
    </div>
</div>