<div class="flex flex-wrap align-items-center justify-content-center">
    <div class="mt-6">
        <h2>CREATE CATEGORY</h2>
    </div>
</div>
<div class="flex flex-wrap align-items-center justify-content-center">
    <div class="mt-8">
        <div class="field grid">
            <form [formGroup]="data" (ngSubmit)="submit()">
                <label for="categoryCode" class="col-fixed" style="width:200px">Category Code</label>
                <div class="col">
                    <input id="categoryCode" formControlName="categoryCode" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                </div>
                <label for="categoryName" class="col-fixed" style="width:200px">Category Name</label>
                <div class="col">
                    <input id="categoryName" formControlName="categoryName" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                </div>
                <app-submit-button label="Create"></app-submit-button>
            </form>
        </div>
    </div>
</div>
<div class="flex flex-wrap align-items-end justify-content-end col-8">
    <div class="mt-8">
        <div class="col-6">
            <!-- <app-routing-button clasz="p-button-rounded mr-2" label="SIGN UP"></app-routing-button> -->
            <button pButton pRipple label="Create" class="p-button-rounded mr-2"></button>
        </div>
    </div>
</div>