<div class="flex flex-wrap align-items-center justify-content-center">
    <div class="mt-6">
        <h2>CREATE POSITION</h2>
    </div>
</div>
<div class="flex flex-wrap align-items-center justify-content-center">
    <div class="mt-8">
        <div class="field grid">
            <label for="firstname3" class="col-fixed" style="width:200px">Position Name</label>
            <div class="col">
                <input id="firstname3" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
            </div>
        </div>
    </div>
</div>
<div class="flex flex-wrap align-items-end justify-content-end col-8">
    <div class="mt-8">
        <div class="col-6">
            <button pButton pRipple label="Create" class="p-button-rounded mr-2"></button>
        </div>
    </div>
</div>