<pre>
    {{getArticleById | json}}
</pre>

<div class="flex align-item-start justify-content-start mt-4 ml-8">
    <p-button label="Kembali" styleClass="p-button-link" icon="pi pi-backward"></p-button>
</div>

<div class="flex align-item-start justify-content-end mt-4 mr-8">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple icon="pi pi-pencil" class="p-button-success mr-2" routerLink="/article/update/{{getArticleById?.id}}"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="deleteArticle(getArticleById!)"></button>
        </ng-template>
    </p-toolbar>
</div>

<div class="col-10 flex justify-content-center align-item-center ml-8 mr-8">
    <div class="justify-content-center">
    </div>
    <p-card>
        <div class="col-12 flex align-item-center justify-content-center">
            <h4 class="align-item-center justify-content-center">{{getArticleById?.articleTitle}}</h4>
        </div>
        <div class="col-12 flex mt-1 align-item-center justify-content-center">
            <p>Penulis : {{getArticleById?.createdBy}}</p>
        </div>
        <div class="col-12 flex justify-content-center">
            <img src="http://192.168.10.124:8080/files/{{getArticleById?.photoId}}" width="300" height="250" alt="Detail-Article">
        </div>
        <div class="col-12">
            <div class="col-12 flex align-items-center justify-content-center w-full">
                <span [innerHTML]="getArticleById?.articleContent">       
                </span>
            </div>
        </div>
    </p-card>
</div>