<!-- <div class="card">
    <div class="flex justify-content-start">
        <div class="absolute top-0 left-0 bg-blue-400 w-25rem h-full">
            <div class="flex align-items-stretch flex-wrap card-container blue-container">
                <div class="flex align-items-center justify-content-center text-white border-round m-2 w-25rem h-full">Welcome Back</div>
            </div>
        </div>
    </div>
</div> -->

<div class="card">
    <p-card class="mt-8 flex flex-wrap align-items-center justify-content-center ">

        <div class="grid">
            <div class="col-5 flex align-items-center justify-content-center">
                <div class="pl-5 p-fluid">
                    <div class="pt-2 align-items-center justify-content-center">
                        <h3>LOGIN</h3>
                    </div>
                    <div class="pt-4 field">
                        <label for="email">Email</label>
                        <input pInputText id="email" type="email" />
                    </div>
                    <div class="field">
                        <label for="password">Password</label>
                        <input pInputText id="password" type="password" />
                    </div>
                    <app-routing-button clasz="w-27rem p-button-rounded bg-blue-400" label="Login"></app-routing-button>
                    <app-routing-button clasz="mt-2 w-27rem p-button-rounded bg-blue-400" label="SIGN U"></app-routing-button>
                    <p class="mt-1 underline text-center">Forget password</p>
                </div>
            </div>

            <div class="col-2">
                <p-divider layout="vertical">
                    <b></b>
                </p-divider>
            </div>
            <div class="col-5 flex align-items-center justify-content-center">
              <div class="w-27rem">
                    <p-image src="../../../assets/img/undraw_Welcoming_re_x0qo.png" alt="Image" width="350"></p-image>
                </div>
                <app-routing-button clasz="mt-2 w-27rem p-button-rounded bg-blue-400" label="SIGN UP"></app-routing-button>
            </div>
        </div>
    </p-card>
</div>


<!-- <div class="flex justify-content-start">
    <div class="absolute top-0 left-0 bg-blue-400 w-25rem h-full">
        <div class="relative">
            <h2 class="text-center text-white">WELCOME BACK!</h2>
        </div>
    </div>
</div>


<p-card class="mt-8 absolute left-50 flex flex-wrap align-items-center justify-content-center ">
    <div class="flex justify-content-center">
        <h2>SIGN IN</h2>
    </div>
    <div class="flex justify-content-center">
        <h4>To Access The Portal</h4>
    </div>
    <span class="mt-5 p-float-label w-25rem">
        <input class="w-25rem border-round m-2" id="email" type="text" pInputText > 
        <label  for="float-input">Enter email here</label>
    </span>
    <span class="mt-1 p-float-label w-25rem">
        <input class="w-25rem border-round m-2" id="pass" type="password" pInputText> 
        <label for="float-input">Enter password here</label>
    </span>
    <app-routing-button clasz="mt-2 w-27rem p-button-rounded bg-blue-400" label="Login"></app-routing-button>
    <p class="mt-1 underline text-center">Forget password</p>

</p-card> -->