<pre>{{data.value | json}}</pre>
<pre>{{post | json}}</pre>
<div class="grid m-0">
    <div class="col-3">
        <div class="flex justify-content-start">
            <h3><i class="pi pi-user"></i> Profil Saya</h3>
        </div>
        <div class="align-item-center">
            <p-card class="align-items-center flex-wrap" styleClass="p-card-shadow">
                <p-avatar class="flex align-items-center justify-content-center" styleClass="mr-2" size="xlarge"
                    image="http://192.168.10.73:8080/files/{{profile.file}}"
                    [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"></p-avatar>
                <h3 class="flex align-items-center justify-content-center">{{profile.fullName}}</h3>
                <span class="flex align-items-center justify-content-center">{{profile.industryId}}</span>
                <span class="flex align-items-center justify-content-center">{{profile.positionId}}</span>
                <p-divider></p-divider>
                <h4>Profil</h4>
                <div class="my-2">
                    <span>Email</span>
                    <p>profile.email</p>
                </div>
                <div class="my-2">
                    <span>No. Telp</span>
                    <p>{{profile.phoneNumber}}</p>
                </div>
                <p-divider></p-divider>
                <div class="align-item-center">
                    <app-routing-button label="Edit Profil"></app-routing-button>
                </div>
            </p-card>
        </div>
    </div>
    <div class="col-6">
        <div class="justify-content-start">
            <h3><i class="pi pi-home"></i> Aktivitas Saya</h3>
        </div>
        <p-card class="mb-2">
            <form [formGroup]="data" (ngSubmit)="onSubmit()">
                <div class="mb-1">
                    <input class="col-12" type="text" pInputText placeholder="Judul Post" formControlName="postTitle" />
                </div>
                <div class="mb-1">
                    <textarea class="col-12" [style]="{'resize' : 'none'}" [rows]="5" [autoResize]="true"
                        formControlName="postContent" placeholder="Tulis sesuatu" pInputTextarea>
                    </textarea>
                </div>
                <div class="mb-1">
                    <p-dropdown [options]="categories" optionLabel="categoryName" formControlName="categoryId"
                        optionValue="id"></p-dropdown>
                </div>
                <div class="mb-1">
                    <label>Premium</label>
                    <p-inputSwitch formControlName="isPremium">Premium</p-inputSwitch>
                </div>
                <div *ngIf="showImageUpload" class="grid mb-1">
                    <p-fileUpload [multiple]="true" accept="image/*" [showUploadButton]="false"
                        (onSelect)="onSelect($event)" (onRemove)="onRemove($event)" (onClear)="onClear()"
                        (maxFileSize)="1000000">
                    </p-fileUpload>
                </div>
                <div formArrayName="polling" *ngIf="showInsertPolling" class="mb-1">
                    <div *ngFor="let p of pollingData.controls; let i = index" [formGroupName]="i" class="grid">
                        <div class="col-2">
                            <label>Pilihan <sup class="text-red-500" *ngIf="i < 2">*</sup></label>
                        </div>
                        <div class="flex col-4">
                            <input class="col" formControlName="choiceContent" type="text" pInputText />
                        </div>
                        <div class="col" *ngIf="i > 1">
                            <button pButton class="p-button-text text-red-500" (click)="removePollingChoice(i)">Hapus
                                Pilihan</button>
                        </div>
                    </div>
                    <div class="grid">
                        <button pButton type="button" class="p-button-text" [disabled]="pollingData.length > 3"
                            (click)="addPollingChoice()">Tambah Pilihan</button>
                    </div>
                </div>
                <div class="grid mt-2">
                    <div class="col-auto mx-1">
                        <button pButton pRipple type="button" label="Image" icon="pi pi-image"
                            (click)="onShowImageUpload()" [disabled]="imageButton"
                            class="p-button-outlined p-button-rounded"></button>
                    </div>
                    <div class="col-auto mx-1">
                        <button pButton pRipple type="button" label="Polling" icon="pi pi-chart-bar"
                            (click)="onShowInsertPolling()" [disabled]="pollingButton"
                            class="p-button-outlined p-button-rounded"></button>
                    </div>
                    <div class="col-auto mx-1">
                        <app-submit-button label="Post"></app-submit-button>
                    </div>
                </div>
            </form>
        </p-card>
        <div *ngFor="let p of post; let i = index" class="col-12 block align-items-center flex-wrap p-0">
            <p-card class="grid block col-12 m-0 mt-2 p-0">
                <div class="flex">
                    <div class="flex align-items-center col-2 p-0">
                        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                            styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                    </div>
                    <div class="grid flex align-items-center col-7 p-0">
                        <h4 class="flex align-items-start">{{post[i].fullName}}</h4>
                        <span class="flex align-items-start m-0">uploaded 1 hour ago</span>
                    </div>
                    <div class="flex align-items-end col-3">
                        <app-category-button label="{{post[i].categoryName}}"></app-category-button>
                    </div>
                </div>
                <div class="grid">
                    <div class="my-2">
                        <h3>{{post[i].postTitle}}</h3>
                        <p>{{post[i].postContent}}</p>
                    </div>
                </div>
                <div *ngIf="post[i].likeCount > 0" class="grid my-2">
                    <p-avatarGroup styleClass="mb-3">
                        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                            shape="circle"></p-avatar>
                        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
                            shape="circle"></p-avatar>
                        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
                            shape="circle"></p-avatar>
                        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
                            shape="circle"></p-avatar>
                        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png"
                            shape="circle"></p-avatar>
                        <p-avatar label="+2" shape="circle"
                            [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
                    </p-avatarGroup>
                    <span>{{post[i].likeCount}} likes</span>
                </div>
                <div class="m-0 p-0">
                    <p-divider></p-divider>
                    <div class="grid">
                        <app-text-icon-button *ngIf="!post[i].isLiked" icon="pi pi-heart" label="Suka" (click)="onLike(post[i].id)"></app-text-icon-button>
                        <app-text-icon-button *ngIf="post[i].isLiked" icon="pi pi-heart-fill" label="Suka" (click)="onDislike(post[i].id)"></app-text-icon-button>
                        <p-divider layout="vertical"></p-divider>
                        <app-text-icon-button icon="pi pi-comments" label="Komentar"
                            (click)="onShowAddDetail()"></app-text-icon-button>
                        <p-divider layout="vertical"></p-divider>
                        <app-text-icon-button icon="pi pi-bookmark" label="Bookmark"></app-text-icon-button>
                    </div>
                    <p-divider></p-divider>
                </div>
                <div *ngIf="showAddDetail">
                    <input pInputText type="text" placeholder="Tulis komentar" class="col-12 mb-2 p-inputtext-sm">
                    <app-submit-button label="Post"></app-submit-button>
                </div>
                <div *ngIf="post[i].detailCount > 0" >
                    <button pButton type="button" class="p-button-text">Lebih banyak komentar (detailCount)</button>
                </div>
                <div *ngFor="let d of post[i].postDetail" class="flex">
                    <div class="col-1 flex align-items-center justify-content-center m-0 p-0">
                        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                            size="large" shape="circle"></p-avatar>
                    </div>
                    <div class="col-11">
                        <h5 class="flex align-items-start m-0">fullName</h5>
                        <span class="flex align-items-end m-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Nisi voluptatibus cupiditate expedita aspernatur quas fuga, neque saepe doloremque harum
                            omnis assumenda ea necessitatibus reiciendis dolorem ullam quaerat amet dolore
                            laboriosam!</span>
                    </div>
                </div>
            </p-card>
        </div>

        <!-- <p-card class="flex align-items-center flex-wrap mt-4" styleClass="p-card-shadow">
            <p-tabView>
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <i class="pi pi-list"></i>
                        <span>Thread</span>
                    </ng-template>

                    <div class="card">
                        <div class="grid">
                            <div>
                                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                    styleClass="mr-2" size="large" shape="circle"></p-avatar>
                            </div>
                            <div>
                                <h5 class="flex align-items-start">fullName</h5>
                                <span class="flex align-items-end">uploaded 1 hour ago</span>
                            </div>
                            <div>
                                <app-category-button label="category"></app-category-button>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="my-2">
                                <h3>Title</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis id, explicabo
                                    aliquid, repellendus numquam labore itaque officia laudantium placeat doloribus odio
                                    voluptas fuga ex tenetur! Minima quasi nam optio fuga.
                                </p>
                            </div>
                            <div class="my-2">
                                <p-avatarGroup styleClass="mb-3">
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar label="+2" shape="circle"
                                        [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
                                </p-avatarGroup>
                                <span>14 users likes</span>
                                <app-text-icon-button icon="pi pi-heart"></app-text-icon-button>
                                <app-text-icon-button icon="pi pi-bookmark"></app-text-icon-button>
                                <app-text-icon-button icon="pi pi-comments"></app-text-icon-button>
                            </div>
                        </div>
                        <p-divider></p-divider>
                    </div>
                    <div class="card">
                        <div class="grid">
                            <div>
                                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                    styleClass="mr-2" size="large" shape="circle"></p-avatar>
                            </div>
                            <div>
                                <h5 class="flex align-items-start">fullName</h5>
                                <span class="flex align-items-end">uploaded 1 hour ago</span>
                            </div>
                            <div>
                                <app-category-button label="category"></app-category-button>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="my-2">
                                <h3>Title</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis id, explicabo
                                    aliquid, repellendus numquam labore itaque officia laudantium placeat doloribus odio
                                    voluptas fuga ex tenetur! Minima quasi nam optio fuga.
                                </p>
                            </div>
                            <div class="my-2">
                                <p-avatarGroup styleClass="mb-3">
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar label="+2" shape="circle"
                                        [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
                                </p-avatarGroup>
                                <span>14 users likes</span>
                                <app-text-icon-button icon="pi pi-heart"></app-text-icon-button>
                                <app-text-icon-button icon="pi pi-bookmark"></app-text-icon-button>
                                <app-text-icon-button icon="pi pi-comments"></app-text-icon-button>
                            </div>
                        </div>
                        <p-divider></p-divider>
                    </div>
                </p-tabPanel>
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <i class="pi pi-heart"></i>
                        <span>Like</span>
                    </ng-template>
                    <div class="card">
                        <div class="grid">
                            <div>
                                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                    styleClass="mr-2" size="large" shape="circle"></p-avatar>
                            </div>
                            <div>
                                <h5 class="flex align-items-start">fullName</h5>
                                <span class="flex align-items-end">uploaded 1 hour ago</span>
                            </div>
                            <div>
                                <app-category-button label="category"></app-category-button>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="my-2">
                                <h3>Title</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis id, explicabo
                                    aliquid, repellendus numquam labore itaque officia laudantium placeat doloribus odio
                                    voluptas fuga ex tenetur! Minima quasi nam optio fuga.
                                </p>
                            </div>
                            <div class="my-2">
                                <p-avatarGroup styleClass="mb-3">
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar label="+2" shape="circle"
                                        [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
                                </p-avatarGroup>
                                <span>14 users likes</span>
                                <app-text-icon-button icon="pi pi-heart"></app-text-icon-button>
                                <app-text-icon-button icon="pi pi-bookmark"></app-text-icon-button>
                                <app-text-icon-button icon="pi pi-comments"></app-text-icon-button>
                            </div>
                        </div>
                        <p-divider></p-divider>
                    </div>
                    <div class="card">
                        <div class="grid">
                            <div>
                                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                    styleClass="mr-2" size="large" shape="circle"></p-avatar>
                            </div>
                            <div>
                                <h5 class="flex align-items-start">fullName</h5>
                                <span class="flex align-items-end">uploaded 1 hour ago</span>
                            </div>
                            <div>
                                <app-category-button label="category"></app-category-button>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="my-2">
                                <h3>Title</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis id, explicabo
                                    aliquid, repellendus numquam labore itaque officia laudantium placeat doloribus odio
                                    voluptas fuga ex tenetur! Minima quasi nam optio fuga.
                                </p>
                            </div>
                            <div class="my-2">
                                <p-avatarGroup styleClass="mb-3">
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar label="+2" shape="circle"
                                        [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
                                </p-avatarGroup>
                                <span>14 users likes</span>
                                <app-text-icon-button icon="pi pi-heart"></app-text-icon-button>
                                <app-text-icon-button icon="pi pi-bookmark"></app-text-icon-button>
                                <app-text-icon-button icon="pi pi-comments"></app-text-icon-button>
                            </div>
                        </div>
                        <p-divider></p-divider>
                    </div>
                </p-tabPanel>
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <i class="pi pi-bookmark"></i>
                        <span>Bookmark</span>
                    </ng-template>
                    <div class="card">
                        <div class="grid">
                            <div>
                                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                    styleClass="mr-2" size="large" shape="circle"></p-avatar>
                            </div>
                            <div>
                                <h5 class="flex align-items-start">fullName</h5>
                                <span class="flex align-items-end">uploaded 1 hour ago</span>
                            </div>
                            <div>
                                <app-category-button label="category"></app-category-button>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="my-2">
                                <h3>Title</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis id, explicabo
                                    aliquid, repellendus numquam labore itaque officia laudantium placeat doloribus odio
                                    voluptas fuga ex tenetur! Minima quasi nam optio fuga.
                                </p>
                            </div>
                            <div class="my-2">
                                <p-avatarGroup styleClass="mb-3">
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar label="+2" shape="circle"
                                        [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
                                </p-avatarGroup>
                                <span>14 users likes</span>
                                <app-text-icon-button icon="pi pi-heart"></app-text-icon-button>
                                <app-text-icon-button icon="pi pi-bookmark"></app-text-icon-button>
                                <app-text-icon-button icon="pi pi-comments"></app-text-icon-button>
                            </div>
                        </div>
                        <p-divider></p-divider>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </p-card> -->
    </div>
    <div class="col-3">
        <div class="flex justify-content-start">
            <h3><i class="pi pi-user"></i> Artikel Pilihan</h3>
        </div>
    </div>
    <p-scrollTop target="window"></p-scrollTop>
</div>