<pre>{{data.value | json}}</pre>
<div class="grid m-0">
    <div class="col-4">
        <div class="flex justify-content-start">
            <h3>Profil Saya</h3>
        </div>
        <div class="align-item-center w-10">
            <p-card class="align-items-center flex-wrap" styleClass="p-card-shadow">
                <p-avatar class="flex align-items-center justify-content-center" icon="pi pi-user" styleClass="mr-2"
                    size="xlarge" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"></p-avatar>
                <h3>fullName</h3>
                <span>position</span>
                <p-divider></p-divider>
                <h4>Profil</h4>
                <div class="my-2">
                    <span>Email</span>
                    <p>email@mail.com</p>
                </div>
                <div class="my-2">
                    <span>No. Telp</span>
                    <p>phoneNumber</p>
                </div>
                <p-divider></p-divider>
                <div class="align-item-center">
                    <app-routing-button label="Edit Profil"></app-routing-button>
                </div>
            </p-card>
        </div>
    </div>
    <div class="col-8">
        <div class="justify-content-start">
            <h3>Aktivitas Saya</h3>
        </div>
        <p-card>
            <form [formGroup]="data" (ngSubmit)="onSubmit()">
                <div class="mb-1">
                    <input class="col-12" [style]="{'border' : 'none'}" type="text" pInputText placeholder="Judul Post" formControlName="postTitle"/>
                </div>
                <div class="mb-1">
                    <textarea class="col-12" [style]="{'resize' : 'none', 'border' : 'none'}" [rows]="5" [autoResize]="true" formControlName="postContent" placeholder="Tulis sesuatu" pInputTextarea>
                    </textarea>
                </div>
                <div class="mb-1">
                    <p-dropdown [options]="categories" optionLabel="categoryName" formControlName="categoryId" optionValue="id"></p-dropdown>
                </div>
                <div class="mb-1">
                    <label>Premium</label>
                    <p-inputSwitch formControlName="isPremium">Premium</p-inputSwitch>
                </div>
                <div *ngIf="showImageUpload" class="grid mb-1">
                    <p-fileUpload [multiple]="true" accept="image/*" [showUploadButton]="false" (onSelect)="onSelect($event)" (onRemove)="onRemove($event)" (onClear)="onClear()" (maxFileSize)="1000000">
                    </p-fileUpload>
                </div>
                <div formArrayName="polling" *ngIf="showInsertPolling" class="mb-1">
                    <div *ngFor="let p of pollingData.controls; let i = index" [formGroupName]="i" class="grid">
                        <div class="col-2">
                            <label>Pilihan <sup class="text-red-500" *ngIf="i < 2">*</sup></label>
                        </div>
                        <div class="flex col-4">
                            <input class="col" formControlName="choiceContent" type="text" pInputText/>
                        </div>
                        <div class="col" *ngIf="i > 1">
                            <button pButton class="p-button-text text-red-500" (click)="removePollingChoice(i)">Hapus Pilihan</button>
                        </div>
                    </div>
                    <div class="grid">
                        <button pButton type="button" class="p-button-text" [disabled]="pollingData.length > 3" (click)="addPollingChoice()">Tambah Pilihan</button>
                    </div>
                </div>
                <div class="grid mt-2">
                    <div class="col-auto mx-1">
                        <button pButton pRipple type="button" label="Image" icon="pi pi-image" (click)="onShowImageUpload()" [disabled]="imageButton" class="p-button-outlined p-button-rounded"></button>
                    </div>
                    <div class="col-auto mx-1">
                        <button pButton pRipple type="button" label="Polling" icon="pi pi-chart-bar" (click)="onShowInsertPolling()" [disabled]="pollingButton" class="p-button-outlined p-button-rounded"></button>
                    </div>
                    <div class="col-auto mx-1">
                        <app-submit-button label="Post"></app-submit-button>
                    </div>
                </div>
            </form>
        </p-card>
        <p-card class="flex align-items-center flex-wrap" styleClass="p-card-shadow">
            <p-tabView>
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <i class="pi pi-list"></i>
                        <span>Thread</span>
                    </ng-template>
                    <div class="card">
                        <div class="grid">
                            <div>
                                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                    styleClass="mr-2" size="large" shape="circle"></p-avatar>
                            </div>
                            <div>
                                <h5 class="flex align-items-start">fullName</h5>
                                <span class="flex align-items-end">uploaded 1 hour ago</span>
                            </div>
                            <div>
                                <app-category-button label="category"></app-category-button>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="my-2">
                                <h3>Title</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis id, explicabo
                                    aliquid, repellendus numquam labore itaque officia laudantium placeat doloribus odio
                                    voluptas fuga ex tenetur! Minima quasi nam optio fuga.
                                </p>
                                <div>
                                    <div class="grid">
                                        <div class="col-2">
                                            <app-text-button label="Option A"></app-text-button>
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <div class="col-2">
                                            <app-text-button label="Option B"></app-text-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my-2">
                                <p-avatarGroup styleClass="mb-3">
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar label="+2" shape="circle"
                                        [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
                                </p-avatarGroup>
                                <span>14 users likes</span>
                                <app-text-icon-button icon="pi pi-heart"></app-text-icon-button>
                                <app-text-icon-button icon="pi pi-bookmark"></app-text-icon-button>
                                <app-text-icon-button icon="pi pi-comments"></app-text-icon-button>
                            </div>
                        </div>
                        <p-divider></p-divider>
                    </div>
                    <div class="card">
                        <div class="grid">
                            <div>
                                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                    styleClass="mr-2" size="large" shape="circle"></p-avatar>
                            </div>
                            <div>
                                <h5 class="flex align-items-start">fullName</h5>
                                <span class="flex align-items-end">uploaded 1 hour ago</span>
                            </div>
                            <div>
                                <app-category-button label="category"></app-category-button>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="my-2">
                                <h3>Title</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis id, explicabo
                                    aliquid, repellendus numquam labore itaque officia laudantium placeat doloribus odio
                                    voluptas fuga ex tenetur! Minima quasi nam optio fuga.
                                </p>
                            </div>
                            <div class="my-2">
                                <p-avatarGroup styleClass="mb-3">
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar label="+2" shape="circle"
                                        [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
                                </p-avatarGroup>
                                <span>14 users likes</span>
                                <app-text-icon-button icon="pi pi-heart"></app-text-icon-button>
                                <app-text-icon-button icon="pi pi-bookmark"></app-text-icon-button>
                                <app-text-icon-button icon="pi pi-comments"></app-text-icon-button>
                            </div>
                        </div>
                        <p-divider></p-divider>
                    </div>
                    <div class="card">
                        <div class="grid">
                            <div>
                                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                    styleClass="mr-2" size="large" shape="circle"></p-avatar>
                            </div>
                            <div>
                                <h5 class="flex align-items-start">fullName</h5>
                                <span class="flex align-items-end">uploaded 1 hour ago</span>
                            </div>
                            <div>
                                <app-category-button label="category"></app-category-button>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="my-2">
                                <h3>Title</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis id, explicabo
                                    aliquid, repellendus numquam labore itaque officia laudantium placeat doloribus odio
                                    voluptas fuga ex tenetur! Minima quasi nam optio fuga.
                                </p>
                            </div>
                            <div class="my-2">
                                <p-avatarGroup styleClass="mb-3">
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar label="+2" shape="circle"
                                        [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
                                </p-avatarGroup>
                                <span>14 users likes</span>
                                <app-text-icon-button icon="pi pi-heart"></app-text-icon-button>
                                <app-text-icon-button icon="pi pi-bookmark"></app-text-icon-button>
                                <app-text-icon-button icon="pi pi-comments"></app-text-icon-button>
                            </div>
                        </div>
                        <p-divider></p-divider>
                    </div>
                </p-tabPanel>
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <i class="pi pi-heart"></i>
                        <span>Like</span>
                    </ng-template>
                    <div class="card">
                        <div class="grid">
                            <div>
                                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                    styleClass="mr-2" size="large" shape="circle"></p-avatar>
                            </div>
                            <div>
                                <h5 class="flex align-items-start">fullName</h5>
                                <span class="flex align-items-end">uploaded 1 hour ago</span>
                            </div>
                            <div>
                                <app-category-button label="category"></app-category-button>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="my-2">
                                <h3>Title</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis id, explicabo
                                    aliquid, repellendus numquam labore itaque officia laudantium placeat doloribus odio
                                    voluptas fuga ex tenetur! Minima quasi nam optio fuga.
                                </p>
                            </div>
                            <div class="my-2">
                                <p-avatarGroup styleClass="mb-3">
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar label="+2" shape="circle"
                                        [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
                                </p-avatarGroup>
                                <span>14 users likes</span>
                                <app-text-icon-button icon="pi pi-heart"></app-text-icon-button>
                                <app-text-icon-button icon="pi pi-bookmark"></app-text-icon-button>
                                <app-text-icon-button icon="pi pi-comments"></app-text-icon-button>
                            </div>
                        </div>
                        <p-divider></p-divider>
                    </div>
                    <div class="card">
                        <div class="grid">
                            <div>
                                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                    styleClass="mr-2" size="large" shape="circle"></p-avatar>
                            </div>
                            <div>
                                <h5 class="flex align-items-start">fullName</h5>
                                <span class="flex align-items-end">uploaded 1 hour ago</span>
                            </div>
                            <div>
                                <app-category-button label="category"></app-category-button>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="my-2">
                                <h3>Title</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis id, explicabo
                                    aliquid, repellendus numquam labore itaque officia laudantium placeat doloribus odio
                                    voluptas fuga ex tenetur! Minima quasi nam optio fuga.
                                </p>
                            </div>
                            <div class="my-2">
                                <p-avatarGroup styleClass="mb-3">
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar label="+2" shape="circle"
                                        [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
                                </p-avatarGroup>
                                <span>14 users likes</span>
                                <app-text-icon-button icon="pi pi-heart"></app-text-icon-button>
                                <app-text-icon-button icon="pi pi-bookmark"></app-text-icon-button>
                                <app-text-icon-button icon="pi pi-comments"></app-text-icon-button>
                            </div>
                        </div>
                        <p-divider></p-divider>
                    </div>
                </p-tabPanel>
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <i class="pi pi-bookmark"></i>
                        <span>Bookmark</span>
                    </ng-template>
                    <div class="card">
                        <div class="grid">
                            <div>
                                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                    styleClass="mr-2" size="large" shape="circle"></p-avatar>
                            </div>
                            <div>
                                <h5 class="flex align-items-start">fullName</h5>
                                <span class="flex align-items-end">uploaded 1 hour ago</span>
                            </div>
                            <div>
                                <app-category-button label="category"></app-category-button>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="my-2">
                                <h3>Title</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis id, explicabo
                                    aliquid, repellendus numquam labore itaque officia laudantium placeat doloribus odio
                                    voluptas fuga ex tenetur! Minima quasi nam optio fuga.
                                </p>
                            </div>
                            <div class="my-2">
                                <p-avatarGroup styleClass="mb-3">
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar
                                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png"
                                        shape="circle"></p-avatar>
                                    <p-avatar label="+2" shape="circle"
                                        [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
                                </p-avatarGroup>
                                <span>14 users likes</span>
                                <app-text-icon-button icon="pi pi-heart"></app-text-icon-button>
                                <app-text-icon-button icon="pi pi-bookmark"></app-text-icon-button>
                                <app-text-icon-button icon="pi pi-comments"></app-text-icon-button>
                            </div>
                        </div>
                        <p-divider></p-divider>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </p-card>
    </div>
    <p-scrollTop target="window"></p-scrollTop>
</div>