<!-- <pre>{{data.value | json}}</pre>
<pre>{{post | json}}</pre> -->
<div class="grid grid-nogutter">
    <div *ngIf="profile" class="hidden lg:block col-3 px-3">
        <div class="justify-content-start">
            <h3><i class="pi pi-user"></i> Profil Saya</h3>
        </div>
        <div class="align-item-center">
            <p-card class="align-items-center flex-wrap" styleClass="p-card-shadow">
                <p-avatar class="grid align-items-center justify-content-center" styleClass="mr-2" size="xlarge"
                    shape="circle" image="{{baseUrl}}/files/{{profile.file}}"
                    [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"></p-avatar>
                <h3 class="grid my-1 align-items-center justify-content-center">{{profile.fullName}}</h3>
                <span class="grid my-1 align-items-center justify-content-center">{{profile.industryId}}</span>
                <span class="grid my-1 align-items-center justify-content-center">{{profile.positionId}} at
                    {{profile.company}}</span>
                <p-divider></p-divider>
                <h4>Profil</h4>
                <div class="mx-2 p-0">
                    <div class="mb-2">
                        <span class="grid mb-1"><i class="pi pi-envelope mr-1"></i>Email</span>
                        <p class="grid">{{profile.email}}</p>
                    </div>
                    <div class="mb-2">
                        <span class="grid mb-1"><i class="pi pi-mobile mr-1"></i>No. Telp</span>
                        <p class="grid">{{profile.phoneNumber}}</p>
                    </div>
                    <div *ngIf="!profile.premiumUntil" class="mb-2">
                        <div class="grid">
                            <button pButton class="p-button-primary p-button-text m-0 p-0"
                                (click)="navigate('/memberships')"><i class="pi pi-lock"></i>Aktifkan Premium</button>
                        </div>
                    </div>
                </div>
                <p-divider></p-divider>
                <div class="align-item-center">
                    <!-- <app-routing-button label="Edit Profil" link="/profile/{{profile.id}}"></app-routing-button> -->
                </div>
            </p-card>
        </div>
    </div>
    <div *ngIf="!profile" class="hidden lg:block col-3 px-3">
        <div class="flex justify-content-start">
            <h3><i class="pi pi-user"></i> Profil Saya</h3>
        </div>
        <div class="align-item-center">
            <p-card class="align-items-center flex-wrap" styleClass="p-card-shadow">
                <p-skeleton size="5rem" styleClass="mb-2"></p-skeleton>
                <p-skeleton height="2rem" styleClass="mb-4"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-skeleton styleClass="mb-2"></p-skeleton>
                <p-divider></p-divider>
                <h4>Profil</h4>
                <div class="my-2">
                    <span>Email</span>
                    <p-skeleton styleClass="mb-2"></p-skeleton>
                </div>
                <div class="my-2">
                    <span>No. Telp</span>
                    <p-skeleton styleClass="mb-2"></p-skeleton>
                </div>
                <p-divider></p-divider>
                <div class="align-item-center">
                    <!-- <button pButton [disabled]="true" class="p-button-primary">Edit Profil</button> -->
                </div>
            </p-card>
        </div>
    </div>
    <div *ngIf="post" class="col lg:px-3">
        <div class="justify-content-start">
            <h3><i class="pi pi-home"></i> Aktivitas Saya</h3>
        </div>
        <p-card class="mb-2">
            <form [formGroup]="data" (ngSubmit)="onSubmit()">
                <div class="mb-1">
                    <input class="col-12" type="text" pInputText placeholder="Judul Post" formControlName="postTitle" />
                </div>
                <div class="mb-1">
                    <textarea class="col-12" [style]="{'resize' : 'none'}" [rows]="5" [autoResize]="true"
                        formControlName="postContent" placeholder="Tulis sesuatu" pInputTextarea>
                    </textarea>
                </div>
                <div class="mb-1">
                    <p-dropdown [options]="categories" optionLabel="categoryName" formControlName="categoryId"
                        optionValue="id"></p-dropdown>
                </div>
                <div *ngIf="profile?.premiumUntil" class="mb-1">
                    <label>Premium</label>
                    <p-inputSwitch formControlName="isPremium">Premium</p-inputSwitch>
                </div>
                <div *ngIf="showImageUpload" class="grid mb-1">
                    <p-fileUpload [multiple]="true" accept="image/*" [showUploadButton]="false"
                        (onSelect)="onSelect($event)" (onRemove)="onRemove($event)" (onClear)="onClear()"
                        (maxFileSize)="1000000">
                    </p-fileUpload>
                </div>
                <div formArrayName="polling" *ngIf="showInsertPolling" class="mb-1">
                    <div *ngFor="let p of pollingData.controls; let i = index" [formGroupName]="i" class="grid">
                        <div class="col-2">
                            <label>Pilihan <sup class="text-red-500" *ngIf="i < 2">*</sup></label>
                        </div>
                        <div class="col-4">
                            <input class="col" formControlName="choiceContent" type="text" pInputText />
                        </div>
                        <div class="col" *ngIf="i > 1">
                            <button pButton class="p-button-text text-red-500" (click)="removePollingChoice(i)">Hapus
                                Pilihan</button>
                        </div>
                    </div>
                    <div class="grid">
                        <button pButton type="button" class="p-button-text" [disabled]="pollingData.length > 3"
                            (click)="addPollingChoice()">Tambah Pilihan</button>
                    </div>
                </div>
                <div class="grid mt-2">
                    <div class="col-auto mx-1">
                        <button pButton pRipple type="button" label="Image" icon="pi pi-image"
                            (click)="onShowImageUpload()" [disabled]="imageButton"
                            class="p-button-outlined p-button-rounded"></button>
                    </div>
                    <div class="col-auto mx-1">
                        <button pButton pRipple type="button" label="Polling" icon="pi pi-chart-bar"
                            (click)="onShowInsertPolling()" [disabled]="pollingButton"
                            class="p-button-outlined p-button-rounded"></button>
                    </div>
                    <div class="col-auto mx-1">
                        <app-submit-button label="Post"></app-submit-button>
                    </div>
                </div>
            </form>
        </p-card>
        <div infinite-scroll (scrolled)="onScroll()">
            <div *ngFor="let p of post; let i = index" class="col-12 block align-items-center flex-wrap p-0">
                <p-card class="block col-12 m-0 mt-2 p-0">
                    <div class="align-items-center mx-2">
                        <div class="grid align-items-center p-0">
                            <div class="col-1 mr-2">
                                <p-avatar image="{{baseUrl}}/files/{{p.userFileId}}" styleClass="mr-2"
                                    size="xlarge" shape="circle"></p-avatar>
                            </div>
                            <div class="col">
                                <div class="mx-0">
                                    <h4>{{p.fullName}}</h4>
                                </div>
                                <div class="mx-0">
                                    <span>{{p.postedAt | timeAgo}}</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <p-chip label="{{p.categoryName}}"></p-chip>
                            </div>
                        </div>
                        <div class="block align-items-center col-7 p-0">
                            
                        </div>
                        <div class="align-items-end col-3">
                            
                        </div>
                    </div>
                    <div class="grid mx-2">
                        <div class="my-2">
                            <h3>{{p.postTitle}}</h3>
                            <span *ngIf="!p.isPremium" style="white-space: pre-line;">{{p.postContent}}</span>
                            <div *ngIf="p.isPremium">
                                <div *ngIf="p.isShown">
                                    <span style="white-space: pre-line;">{{p.postContent}}</span>
                                </div>
                                <div *ngIf="!p.isShown">
                                    <span style="white-space: pre-line;">{{p.postContent | truncate : 100 :
                                        false}}</span>
                                    <button pButton class="p-button-text m-0 p-0" type="button"
                                        (click)="onShowPremiumContent(i)">See more</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid mx-2">
                        <div *ngIf="p.fileId">
                            <app-post-image [imagesId]="p.fileId" imageHost="192.168.10.124"
                                [imageOptions]="imageOptions"></app-post-image>
                        </div>
                        <div class="col-12 mt-2" *ngIf="p.pollingChoice">
                            <div class="col-12" *ngIf="!p.isAnswered">
                                <div *ngFor="let c of p.pollingChoice; let j = index">
                                    <app-text-button label="{{c.choiceContent}}"
                                        (click)="onInsertPollingAnswer(c.pollingChoiceId, i)"></app-text-button>
                                </div>
                            </div>
                            <div class="col-12" *ngIf="p.isAnswered">
                                <div class="mb-2">
                                    <div *ngFor="let a of p.pollingAnswer; let j = index">
                                        <app-progressbar [label]="a.choiceContent"
                                            [value]="a.percent"></app-progressbar>
                                    </div>
                                </div>
                                <app-text-button label="Undo" (click)="onRemovePollingAnswer(p.isAnswered.id, i)">
                                </app-text-button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="p.likeCount > 0" class="grid m-2">
                        <span>{{p.likeCount}} likes</span>
                    </div>
                    <div class="m-0 p-0">
                        <p-divider></p-divider>
                        <div class="grid">
                            <app-text-icon-button *ngIf="!p.isLiked" icon="pi pi-heart"
                                clasz="p-button-text p-button-secondary" label="Suka" (click)="onLike(p.id, i)">
                            </app-text-icon-button>
                            <app-text-icon-button *ngIf="p.isLiked" clasz="p-button-text p-button-danger"
                                icon="pi pi-heart-fill" label="Suka" (click)="onDislike(p.isLiked.id, i)">
                            </app-text-icon-button>
                            <p-divider layout="vertical"></p-divider>
                            <app-text-icon-button icon="pi pi-comments" clasz="p-button-text p-button-secondary"
                                label="Komentar({{p.detailCount}})" (click)="onShowAddDetail(i)"></app-text-icon-button>
                            <p-divider layout="vertical"></p-divider>
                            <app-text-icon-button *ngIf="!p.isBookmarked" icon="pi pi-bookmark"
                                clasz="p-button-text p-button-secondary" label="Bookmark" (click)="onBookmark(p.id, i)">
                            </app-text-icon-button>
                            <app-text-icon-button *ngIf="p.isBookmarked" icon="pi pi-bookmark-fill"
                                clasz="p-button-text p-button-primary" label="Bookmark"
                                (click)="onRemoveBookmark(p.isBookmarked.id, i)"></app-text-icon-button>
                        </div>
                    </div>
                    <div *ngIf="p.showComment">
                        <p-divider></p-divider>
                        <div class="grid">
                            <input [formControl]="detail" pInputText type="text" placeholder="Tulis komentar"
                                class="col-12 mx-1 mb-2 p-inputtext-sm">
                        </div>
                        <div class="grid mt-1">
                            <div class="mx-1">
                                <app-text-button label="Post" (click)="onInsertPostDetail(i)"></app-text-button>
                            </div>
                        </div>
                    </div>
                    <p-divider></p-divider>
                    <div *ngIf="p.detailCount > 3">
                        <button pButton type="button" class="p-button-text">Lebih banyak komentar (detailCount)</button>
                    </div>
                    <div *ngIf="p.showComment">
                        <div *ngFor="let d of p.postDetail" class="flex">
                            <div class="col-1 grid align-items-center justify-content-center m-0 p-0">
                                <p-avatar image="{{baseUrl}}/files/{{d.userFileId}}" size="large"
                                    shape="circle"></p-avatar>
                            </div>
                            <div class="col-11">
                                <h5 class="grid align-items-start m-0">{{d.fullName}}</h5>
                                <span class="grid align-items-end m-0">{{d.detailContent}}</span>
                            </div>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
    <div *ngIf="!post" class="col lg:px-3">
        <div class="justify-content-start">
            <h3><i class="pi pi-home"></i> Aktivitas Saya</h3>
        </div>
        <div>
            <div *ngFor="let p of post; let i = index" class="col-12 block align-items-center flex-wrap p-0">
                <p-card class="grid block col-12 m-0 mt-2 p-0">
                    <div class="grid align-items-center mx-2">
                        <div class="grid align-items-center col-1 mr-2 p-0">
                            <p-skeleton shape="circle" size="5rem"></p-skeleton>
                        </div>
                        <div class="block align-items-center col-7 p-0">
                            <div class="grid">
                                <p-skeleton width="20rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                            </div>
                            <div class="grid">
                                <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                            </div>
                        </div>
                        <div class="align-items-end col-3">
                            <p-skeleton height="2rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                        </div>
                        <div class="align-items-end col-1">
                            <app-icon-button icon="pi pi-chevron-down" clasz="p-button-text p-button-secondary"
                                (click)="menu.toggle($event)"></app-icon-button>
                            <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
                        </div>
                    </div>
                    <div class="grid mx-2">
                        <div class="my-2">
                            <p-skeleton styleClass="mb-2" borderRadius="16px"></p-skeleton>
                            <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                            <p-skeleton width="5rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                            <p-skeleton width="5rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                            <div *ngIf="p.isPremium">
                                <div *ngIf="p.isShown">
                                    <span style="white-space: pre-line;">{{p.postContent}}</span>
                                </div>
                                <div *ngIf="!p.isShown">
                                    <span style="white-space: pre-line;">{{p.postContent | truncate : 100 :
                                        false}}</span>
                                    <button pButton class="p-button-text m-0 p-0" type="button"
                                        (click)="onShowPremiumContent(i)">See more</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid mx-2">
                        <p-skeleton width="100%" height="150px"></p-skeleton>
                    </div>
                    <div class="grid m-2">
                        <p-skeleton width="5rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                    </div>
                    <div class="m-0 p-0">
                        <p-divider></p-divider>
                        <div class="grid">
                            <app-text-icon-button icon="pi pi-heart"
                                clasz="p-button-text p-button-secondary" label="Suka">
                            </app-text-icon-button>
                            <p-divider layout="vertical"></p-divider>
                            <app-text-icon-button icon="pi pi-comments" clasz="p-button-text p-button-secondary" label="Komentar(0)"></app-text-icon-button>
                            <p-divider layout="vertical"></p-divider>
                            <app-text-icon-button icon="pi pi-bookmark"
                                clasz="p-button-text p-button-secondary" label="Bookmark">
                            </app-text-icon-button>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
    <p-scrollTop target="window"></p-scrollTop>
</div>