<div class="m-3">
    <div>
        <div [formGroup]="data">
            <p-dropdown [options]="categories" optionLabel="Kategori" [showClear]="true"></p-dropdown>
        </div>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search"/>
        </span>
    </div>
    <div>
        <div class="grid">
            <div class="col-4 my-2 flex justify-content-center">
                <p-card header="eventName" subheader="category" [style]="{width : '360px'}" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png">
                    </ng-template>
                    <div>
                        <div class="grid mt-1">
                            <span>Penyelenggara : organizerName</span>
                        </div>
                        <div class="grid mt-1">
                            <span>Tanggal Mulai : startDate</span>
                        </div>
                        <div class="grid mt-1">
                            <span>Tanggal Selesai : endDate</span>
                        </div>
                        <div class="grid mt-1">
                            <span>Harga : Rp price</span>
                        </div>
                        <div class="grid mt-1">
                            <span>Lokasi : location</span>
                        </div>
                    </div>
                    <ng-template pTemplate="footer">
                        <app-action-button label="Beli Event"></app-action-button>
                    </ng-template>
                </p-card>
            </div>
            <div class="col-4 my-2 flex justify-content-center">
                <p-card header="eventName" subheader="category" [style]="{width : '360px'}" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png">
                    </ng-template>
                    <div>
                        <div class="grid mt-1">
                            <span>Penyelenggara : organizerName</span>
                        </div>
                        <div class="grid mt-1">
                            <span>Tanggal Mulai : startDate</span>
                        </div>
                        <div class="grid mt-1">
                            <span>Tanggal Selesai : endDate</span>
                        </div>
                        <div class="grid mt-1">
                            <span>Harga : Rp price</span>
                        </div>
                        <div class="grid mt-1">
                            <span>Lokasi : location</span>
                        </div>
                    </div>
                    <ng-template pTemplate="footer">
                        <app-action-button label="Beli Event"></app-action-button>
                    </ng-template>
                </p-card>
            </div>
            <div class="col-4 my-2 flex justify-content-center">
                <p-card header="eventName" subheader="category" [style]="{width : '360px'}" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png">
                    </ng-template>
                    <div>
                        <div class="grid mt-1">
                            <span>Penyelenggara : organizerName</span>
                        </div>
                        <div class="grid mt-1">
                            <span>Tanggal Mulai : startDate</span>
                        </div>
                        <div class="grid mt-1">
                            <span>Tanggal Selesai : endDate</span>
                        </div>
                        <div class="grid mt-1">
                            <span>Harga : Rp price</span>
                        </div>
                        <div class="grid mt-1">
                            <span>Lokasi : location</span>
                        </div>
                    </div>
                    <ng-template pTemplate="footer">
                        <app-action-button label="Beli Event"></app-action-button>
                    </ng-template>
                </p-card>
            </div>
            <div class="col-4 my-2 flex justify-content-center">
                <p-card header="eventName" subheader="category" [style]="{width : '360px'}" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png">
                    </ng-template>
                    <div>
                        <div class="grid mt-1">
                            <span>Penyelenggara : organizerName</span>
                        </div>
                        <div class="grid mt-1">
                            <span>Tanggal Mulai : startDate</span>
                        </div>
                        <div class="grid mt-1">
                            <span>Tanggal Selesai : endDate</span>
                        </div>
                        <div class="grid mt-1">
                            <span>Harga : Rp price</span>
                        </div>
                        <div class="grid mt-1">
                            <span>Lokasi : location</span>
                        </div>
                    </div>
                    <ng-template pTemplate="footer">
                        <app-action-button label="Beli Event"></app-action-button>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>
</div>