<pre>
    {{resMembership | json}}
</pre>

<div class="mt-8 card">
    <p-toolbar styleClass="min-w-20 mb-4 gap-2">
        <ng-template pTemplate="left">
            <app-routing-button label="Add New" icon="pi pi-plus" class="p-button-rounded mr-2" link="add">
            </app-routing-button>
            <!-- <button pButton pRipple label="Add New" icon="pi pi-plus" class="p-button-rounded mr-2"></button> -->
        </ng-template>
    </p-toolbar>

    <div class="flex flex-wrap align-items-center justify-content-center">
        <p-table styleClass="p-datatable-striped" [value]="resMembership" [tableStyle]="{'min-width': '80rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>Code Membership</th>
                    <th>Name Membership</th>
                    <th>Duration</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-i="rowIndex">
                <tr>
                    <td>{{i + 1}}</td>
                    <td>{{data.membershipCode}}</td>
                    <td>{{data.membershipName}}</td>
                    <td>{{data.duration}}</td>
                    <td>{{data.amount}}</td>
                    <td>
                        <button pButton pRipple type="button" icon="pi pi-file-edit"
                            class="p-button-rounded p-button-success" routerLink="edit/{{data.id}}"></button>
                        <button pButton pRipple type="button" icon="pi pi-trash"
                            class="ml-3 p-button-rounded p-button-danger" (click)="deleteMembership(data)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <p-paginator [rows]="10" [totalRecords]=10 [rowsPerPageOptions]="[10,20,30]"></p-paginator>
    </div>
</div>