<p-card class="grid grid-nogutter align-items-center justify-content-center h-screen">
    <div class="grid align-items-center justify-content-center p-0">
        <div class="grid md:col align-items-center lg:col align-items-center">
            <div class="grid align-items-center justify-content-center">
                <p-image src="../../../../assets/img/undraw_Welcome_re_h3d9.png" width="250" alt="Image"></p-image>
            </div>
        </div>
        <div class="hidden md:block col-1">
            <p-divider layout="vertical">
                <b></b>
            </p-divider>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
            <form [formGroup]="profile" (ngSubmit)="onSubmit()">
                <div class="grid align-items-center justify-content-center">
                    <div class="col-12 mb-4">
                        <h1>Profil</h1>
                    </div>
                    <div class="col-12 mt-2 md:col-6">
                        <div>
                            <label>Nama Lengkap <sup class="text-red-500">*</sup></label>
                        </div>
                        <div>
                            <input pInputText formControlName="fullName" type="text"
                                class="col-12 md:col-10">
                        </div>
                    </div>
                    <p-divider class="md:hidden lg:hidden"></p-divider>
                    <div class="col-12 mt-2 md:col-6">
                        <div>
                            <label>Country <sup class="text-red-500">*</sup></label>
                        </div>
                        <div>
                            <input pInputText formControlName="country" type="text"
                            class="col-12 md:col-10">
                        </div>
                    </div>
                    <p-divider class="md:hidden lg:hidden"></p-divider>
                    <div class="col-12 mt-2 md:col-6">
                        <div>
                            <label>Province <sup class="text-red-500">*</sup></label>
                        </div>
                        <div>
                            <input pInputText formControlName="province" type="text"
                                class="col-12 md:col-10">
                        </div>
                    </div>
                    <p-divider class="md:hidden lg:hidden"></p-divider>
                    <div class="col-12 mt-2 md:col-6">
                        <div>
                            <label>City <sup class="text-red-500">*</sup></label>
                        </div>
                        <div>
                            <input pInputText formControlName="city" type="text"
                                class="col-12 md:col-10">
                        </div>
                    </div>
                    <p-divider class="md:hidden lg:hidden"></p-divider>
                    <div class="col-12 mt-2 md:col-6">
                        <div>
                            <label>Phone Number <sup class="text-red-500">*</sup></label>
                        </div>
                        <div>
                            <input pInputText formControlName="phoneNumber" type="text"
                                class="col-12 md:col-10">
                        </div>
                    </div>
                    <p-divider class="md:hidden lg:hidden"></p-divider>
                    <div class="col-12 mt-2 md:col-6">
                        <div>
                            <label>Company <sup class="text-red-500">*</sup></label>
                        </div>
                        <div>
                            <input pInputText formControlName="company" type="text"
                                class="col-12 md:col-10">
                        </div>
                    </div>
                    <p-divider class="md:hidden lg:hidden"></p-divider>
                    <div class="col-12 mt-2 md:col-6">
                        <div>
                            <label>Postal Code <sup class="text-red-500">*</sup></label>
                        </div>
                        <div>
                            <input pInputText formControlName="postalCode" type="text"
                                class="col-12 md:col-10">
                        </div>
                    </div>
                    <p-divider class="md:hidden lg:hidden"></p-divider>
                    <div class="col-12 mt-2 md:col-6">
                        <div>
                            <label>Position<sup class="text-red-500">*</sup></label>
                        </div>
                        <div>
                            <p-dropdown [options]="positions" placeholder=" Select Position" [showClear]="true"
                                optionLabel="positionName" formControlName="positionId" optionValue="id" class="col-12 md:col-10">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="col-12 mt-2 md:col-6">
                        <div>
                            <label>Industry<sup class="text-red-500">*</sup></label>
                        </div>
                        <div>
                            <p-dropdown [options]="industries" placeholder=" Select Industry" [showClear]="true"
                                optionLabel="industryName" [formGroup]="profile" formControlName="industryId"
                                optionValue="id"></p-dropdown>
                        </div>
                    </div>
                    <div class="mt-8 field col-8 md:col-6">
                        <label for="formFile">Upload Foto</label>
                        <p-fileUpload mode="basic" accept="image/*" chooseLabel="Browse"
                            styleClass="p-button w-16rem h-2.5rem bg-blue-400" id="formFile"
                            (onSelect)="uploadFile($event)"></p-fileUpload>
                    </div>
                    <div class="col-8 mt-6 field">
                        <button pButton pRipple type="submit" label="Daftar" class="p-button-raised"
                            styleClass="p-button w-auto bg-blue-400"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</p-card>